#products_salvar, #orders_salvar {
    width: 100%;
    border-radius: 20px;
    padding: .600rem .75rem;
    background-image: linear-gradient(to right, #30a0b8 , #bce2e6);
    border: 0;
}

body {
    background-color: #d4d2d2;
}

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.box-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 20px;
    color: #30a0b8;
    padding: 20px 15px 15px 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.card {
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
}

.form-group > label {
    color: #30a0b8;
}

.form-group > input {
    border-bottom: 1.2px solid #30a0b8;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 12px;
}

.btn-menu {
    border-radius: 50%;
    padding: 10px 13px;
    background-color: #30a0b8;
}

.btn-menu:hover {
    background-color: #1e6676;
}

.btn-danger {
    border-radius: 50%;
    padding: 10px 13px;
}

