{% extends 'base.html.twig' %}

{% block title %}New Products{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="box-title">
                <h4>NOVO PRODUTO</h4>
            </div>

             {{ include('products/_form.html.twig') }}

            <a href="{{ path('products_index') }}">back to list</a>
        </div>
    </div>
</div>

{% endblock %}
