{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="box-title">
                    <h4>PRODUTO</h4>
                </div>
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Código</th>
                                <td>{{ product.id }}</td>
                            </tr>
                            <tr>
                                <th>Nome</th>
                                <td>{{ product.name }}</td>
                            </tr>
                            <tr>
                                <th>Dimensões</th>
                                <td>{{ product.dimensions }}</td>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <td>{{ product.weight }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
