<form method="post" action="{{ path('quotations_delete', {'id': quotation.id}) }}" onsubmit="return confirm('Tem certeza que deseja deletar essa cotação?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quotation.id) }}">
    <button class="btn btn-danger my-2 my-sm-0 mr-2">
        <img src="{{ asset(btn_delete.icon_path) }}" alt="" width="20" height="20">
    </button>
</form>

