{% extends 'base.html.twig' %}

{% block title %}Edit Quotations{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="box-title">
                    <h4>EDITAR COTAÇÃO</h4>
                </div>
                {{ include('quotations/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
{% endblock %}
