{% extends 'base.html.twig' %}

{% block title %}Quotations index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box-title">
                    <h4>COTAÇÕES</h4>
                </div>
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Código do Serviço</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for quotation in quotations %}
                                <tr>
                                    <td>{{ quotation.id }}</td>
                                    <td>{{ quotation.serviceCode }}</td>
                                    <td>
                                        <a href="{{ path('quotations_show', {'id': quotation.id}) }}">show</a>
                                        <a href="{{ path('quotations_edit', {'id': quotation.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Nenhuma cotação foi encontrada.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
