{% extends 'base.html.twig' %}

{% block title %}New Quotations{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="box-title">
                    <h4>NOVA COTAÇÃO</h4>
                </div>
                {{ include('quotations/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
