{% extends 'base.html.twig' %}

{% block title %}Quotations{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="box-title">
                <h4>COTAÇÃO</h4>
            </div>
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Código</th>
                                <td>{{ quotation.id }}</td>
                            </tr>
                            <tr>
                                <th>Código do Serviço</th>
                                <td>{{ quotation.serviceCode }}</td>
                            </tr>
                            <tr>
                                <th>Valor do Frete</th>
                                <td>R$ {{ quotation.portageValue }}</td>
                            </tr>
                            <tr>
                                <th>Prazo de Entrega</th>
                                <td>{{ quotation.deadline }} dias úteis</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
