{% extends 'base.html.twig' %}

{% block title %}Edit Orders{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="box-title">
                    <h4>EDITAR PEDIDO</h4>
                </div>
                {{ include('orders/_form.html.twig', {'button_label': 'Update'}) }}

                {{ include('orders/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
